extends ../layout

block content
    section
        .container
            .row
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/admin/cat') Categorias
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/admin/products') Produtos
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/admin/orders') Pedidos
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a(href='/admin/customers') Clientes
                    ///nav-bar

                .col-sm-9
                    //.blog-post-area
                        .single-blog-post
                    block details
                            //h3 Function
                                p Content
