extends admin

block details
    .table-responsive
        table.table.table-condensed
            thead
                tr
                    td #
                    td Data
                    td Status
                    td Total
                    td
            tbody
                each order in orders.reverse()
                    tr
                        -function prettyDate(dateString){
                            -var date = new Date(dateString);
                            -var d = date.getDate(dateString);
                            -var monthNames = [ "Jan", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez" ];
                            -var m = monthNames[date.getMonth()];
                            -var y = date.getFullYear();
                            -return d+' '+m+' '+y;
                        -}
                        td= order.OrderID
                        td= prettyDate(order.OrderDate)
                        td= order.Status
                        td= 'R$ ' + order.Total
                        td
                            form.dev-form(action='/admin/orders/' + order.OrderID, method='GET')
                                button.order-btn.btn.btn-default(type='submit')
                                    i.fa.fa-eye
                                    = ' Visualizar'
                            // form.dev-form(action='/admin/orders/' + order.OrderID + '/update', method='GET')
                                button.order-btn.btn.btn-default(type='submit')
                                    i.fa.fa-list
                                    = ' Atualizar o status'
