extends admin

block details
    .row
        .features_items
            if products
                each product in products
                    .row
                        .col-sm-3
                            .product-image-wrapper
                                .single-products
                                    .productinfo.text-center
                                        img(src='/img/products/' + product.Image, alt=product.ProductName)
                        .col-sm-6
                            h2.cat= product.ProductName

                            p
                                b Categoria:
                                = ' ' + product.CategoryName

                            p= product.ProductDescription

                            p
                                b Quantidade:
                                = ' ' + product.UnitsInStock
                            p
                                b Unidade:
                                = ' ' + product.ManufactureYear
                            p
                                b Marca:
                                |  Tudaki

                            p
                                b Preço:
                                = ' R$ ' + product.ProductPrice

                            - var feature = 'Sim'
                            if (product.Feature == 0)
                                    - feature = 'Não'
                            p
                                b Produto em destaque:
                                = ' ' + feature



                        .col-sm-3
                            form.dev-form(action='/admin/products/' + product.ProductID + '/edit', method='GET')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-edit
                                    = ' Editar'

                            form.dev-form(action='/admin/products/' + product.ProductID + '/delete', method='POST')
                                button.btn.btn-default(type='submit')
                                    i.fa.fa-trash-o
                                    = ' Deletar'
    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit')
            i.fa.fa-plus
            = ' Adicionar novo produto'
    br
    br
