extends ../layout

block content
    section
        .container
            .row
                h2.title.text-center
                    =title
                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            block details
